<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="false" debug="false">
    　　  <!--其他配置省略-->


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.freedy.log.EasyPatternLayout">
                <pattern>
                    %d{yyyy-MM-dd HH:mm:ss.SSS} %easyHighlight(%5.5level) %magenta(%pid) --- [%15.15thread]
                    %cyan(%-30.30logger{39}) : %msg%n
                </pattern>
            </layout>
        </encoder>

        <!--        <encoder>-->
        <!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>-->
        <!--        </encoder>-->
    </appender>

    <logger name="io.netty" level="info"/>
    　　　
    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>